services:
  api:
    build: .
    env_file:
      - .env.example
    ports:
      - "8000:8000"
    volumes:
      - ./app:/code/app
    depends_on:
      - db

  db:
    image: postgres:14
    env_file:
      - .env.example
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
